@mixin s1div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 606px;
}
@mixin flex {
    display: flex;
     flex-direction: column;
     justify-content: space-between;
}